#popup {
  position: absolute;
  top: calc(50% - 15rem);
  left: calc(50% - 15rem);
  width: 30rem;
  height: 30rem;
  display: grid;
  z-index: 1000;
  grid-template-rows: 3rem auto 3rem;
  border-radius: 2rem;
  background-color: white;
}

.popup__header {
  display: grid
}

.popup__footer {
  display: grid;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  border-top: 1px solid var(--roxo-esc);
}

.popup__footer button {
  justify-content: center;
  background-color: transparent;
  font-size: 1.5rem;
  border: 2px solid var(--roxo-esc);
  border-radius: 1rem;
}