:root {
  --amar: #F7DC6F;
  --azul: #3498DB;
  --lar: #FFA07A;
  --roxo: #7A288A;
  --branco: #FFFFFF;
  --preto: #000000;
  --amar-cl: #F2C464;
  --amar-esc: #F5C710;
  --azul-cl: #68B3C8;
  --roxo-esc: #5C3C9C;
}

.container {
  width: 75%;
  max-width: 1400px;
  margin-inline: auto;
}

img.leaflet-image-layer {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    padding-top: 0;
  }

  50% {
    padding-top: .25rem;
  }
}
