<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Mapa The Beatles</title>
      <link rel="stylesheet" href="/static/css/elements.css" />
      <link rel="stylesheet" href="/static/css/home/home.css" />
      <link rel="stylesheet" href="/static/css/home/toast.css" />
      <link rel="stylesheet" href="/static/css/home/popup.css" />
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap" rel="stylesheet">
  </head>
<body>
  <main>
    <header>
      <div class="container">
        <div class="logo">
          <img src="/static/img/beatles.png">
          <div>Em turnê</div>
        </div>
      </div>
    </header>
    <div id="toast">
      <div class="toast__title"></div>
      <div class="toast__content container">
        <div class="">Você acertou!</div>
      </div>
    </div>
    <div id="map"></div>
  </main>
  <div id="popup">
    <div class="popup__content">
      <h2 class="country__name"></h2>
      <img src="" alt="" class="country__flag">
      <p class="country__curiosity"></p>
    </div>
    <div class="popup__footer">
      <button onclick="closePopup()">Ok</button>
    </div>
  </div>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="/static/js/visited.js"></script>
  <script src="/static/js/popup.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/toast.js"></script>
  <script src="/static/js/map.js"></script>
</body>
</html>
